<div class="row" ng-init="getGroups()">
    <form class="col s12 m8" name="myForm" ng-submit="GetMember()">
      <div class="row">
        <div class="input-field col m8 s12">
            <div input-field>
                <i class="material-icons prefix">group_add</i>
                <select ng-model="groupId" ng-change="setActionId(groupId)" material-select watch>
                    <option value="" ng-selected>Select group</option>
                    <option ng-repeat="group in Groups" value="{{group.GroupId}}">{{group.GroupName}}</option>
                </select>
            </div>
        </div>
      </div>
      <div class="row">
          <button class="btn waves-effect waves-lightm grpbtn" type="submit" name="action" >Get Members
            <i class="material-icons right">arrow_forward</i>
          </button>
      </div>
    </form>
    <div class="row" ng-show="isResLoaded">
        <div class="col s12 m12">
            <div class="col s12 m6"  ng-repeat="user in Users">
                <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper " data-target="modal1" class="">
                    <div class="col s2">
                    <img src="php/profile/images.php?ImageId={{user.MemberId}}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                    </div>
                    <div class="col s10">
                    <span class="black-text">
                       <h6>{{user.MemberName}}</h6>
                       <span class="blue-text email">{{user.UserMail}}</span>
                    </span>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
  </div>
