<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>roomhome</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="css/style.css">
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
  </head>
  <body ng-app="myApp">
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600 headerclass">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title"><i class="material-icons">home</i><span class="sitename"> Room-Manager</span></span>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable" style="padding: 0px !important;">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" id="search">
                <label class="mdl-textfield__label" for="search">Enter your query...</label>
            </div>
            </div>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item"><a href="dashboard.html">dashboard</a></li>
            <li class="mdl-menu__item">Contact</li>
            <li class="mdl-menu__item">Legal information</li>
            </ul>
        </div>
      </header>
      <main class="mdl-layout__content  mainclass">
        <div class="mdl-grid">
          
          <div class="mdl-cell mdl-cell--2-col"></div>

          <div class="mdl-cell mdl-cell--8-col logregpanel">
            
            <div class="row main-content profcontent" ng-controller="ProfileController">
                <div class="m12 s12">
                    <ul id="tabs-swipe-demo" class="tabs proftabs">
                        <li class="tab col s3"><a href="#generaltab">General</a></li>
                        <li class="tab col s3"><a  href="#test-swipe-2">Contact</a></li>
                    </ul>
                    <div id="generaltab" class="row " ng-init="GetUserInfo()">

                        <div class="col s12 m3">
                            <img src="php/profile/images.php" height="70%" width="100%" class="responsive-img profileimg">
                            <button data-target="" class="btn waves-effect waves-ripple profbtn" >Change Profile Pic.</button>
                            <a href="dashboard.html" class="btn waves-effect waves-ripple tbtn" >Dashboard</a>
                            <!-- Modal Structure -->
                            <div id="modal1" class="modal">
                                <div class="modal-content">
                                    <h4>Select Image</h4>
                                    <form action="php/profile/images.php" method="POST" enctype="multipart/form-data">
                                        <div class="file-field input-field">
                                            <div class="btn">
                                                <span>File</span>
                                                <input type="file" class="btn"  name="image"/>
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input class="file-path validate" type="text" placeholder="please selct image to upload">
                                            </div>
                                            <input type="submit" class=" btn" name="submit" value="upload"/> 
                                        </div>  
                                    </form>
                                </div>
                                <div class="modal-footer">
                                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat closebtn">Close</a>
                                </div>
                            </div>
                        </div>

                        <div class="col s1 m1"></div>
                    
                        <div class="col s12 m7" ng-repeat="user in userInfo">
                        <div id="Name" class="card-panel uinfo  #b3e5fc light-blue lighten-4 " contenteditable ng-model="user.Name" data-placeholder="Name" ng-change="UpdUserInfo()"></div>
                        <div id="Bdate" class="card-panel uinfo #b3e5fc light-blue lighten-4" contenteditable ng-model="user.DOB" data-placeholder="Birthdate" ng-change="UpdUserInfo()"></div>
                        <div id="Email" class="card-panel uinfo #b3e5fc light-blue lighten-4" contenteditable ng-model="user.Email" data-placeholder="Email Address" ng-change="UpdUserInfo()"></div>
                        <div id="Mobile" class="card-panel uinfo #b3e5fc light-blue lighten-4" contenteditable ng-model="user.Mobile" data-placeholder="Mobile Number" ng-change="UpdUserInfo()"></div>
                        <div id="Address" class="card-panel uinfo #b3e5fc light-blue lighten-4" contenteditable ng-model="user.Address" data-placeholder="Address" ng-change="UpdUserInfo()"></div>
                        <div id="Profession" class="card-panel uinfo #b3e5fc light-blue lighten-4" contenteditable ng-model="user.Profession" data-placeholder="Profession" ng-change="UpdUserInfo()"></div>
                        <div id="AboutMe" class="card-panel uinfo #b3e5fc light-blue lighten-4" contenteditable ng-model="user.AboutMe" data-placeholder="AboutMe" ng-change="UpdUserInfo()"></div>
                        <div id="Gender" class="card-panel uinfo #b3e5fc light-blue lighten-4" contenteditable ng-model="user.Gender" data-placeholder="Gender" ng-change="UpdUserInfo()"></div>
                        </div>

                    </div>
                    <div id="contacttab" class="row ">
                    </div>
                </div>
            </div>

          </div>

          <div class="mdl-cell mdl-cell--2-col">
          </div>

        </div> 
      </main>
    </div>
    <script type="text/javascript" src="js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
     <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
     <script>
        $(document).ready(function(){
            $(".profbtn,.closebtn").click(function(){
                $('#modal1').fadeToggle(); 
            });
        });
      </script>
  </body>
</html>




    