<div ng-init="getGroups();">
    <div class="row" ng-hide="showMember">
        <div class="col s12 m8" ng-repeat="group in ActiveList">
            <div class="card-panel " ng-click="getMembers(group.GroupId)">
                <a href="#"><h6 class="media-heading">{{group.GroupName}}</h6><i class="material-icons right">compare_arrows</i></a>
                <span class="members"><small>{{group.MemberCount}} Members</small></span>
            </div>
        </div>
    </div>
    <div class="row mem" ng-show="showMember">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>MemberName</th>
                    <th>EmailId</th>
                    <th>Birthdate</th>
                    <th>Mobile</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="member in Members">
                    <td>{{member.MemberName}}</td>
                    <td>{{member.UserMail}}</td>
                    <td>{{member.BirthDate}}</td>
                    <td>{{member.UserMobile}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div> 
</div>  
